  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px">  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web_users.get_user') }}">Account Info<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web_weeklyincomesource.show_weeklyincomesources') }}">Weekly income</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web_weeklyexpensesource.show_weeklyexpensesources') }}">Weekly expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('web_users.logout') }}">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>